:root{
    --header-bg: #10375C;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a{
    text-decoration: none;
}

.container{
    width: 1170px;
    max-width: calc(100% - 48px); /* Khi độ rộng trình duyệt nhỏ hơn 1170px thì vẫn đảm bảo trình duyệt được căn trái phải mỗi bên 24px */
    margin: 0 auto;
}

.btn{
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 21px;
    line-height: var(--height);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 99px;
    text-align: center;
    color: #FFF;
    background: #2E80CE;
    border: 1px solid #2E80CE;
}

.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header{
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after{
    content: '';
    display: inline-block;
    border-radius: 50%;   
}

.logo__circle::before{
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after{
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #FFF;
}

.logo__text{
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand{
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #FFF;
}

.logo-brand--small{
    font-size: 1.2em;
    font-weight: 300;
}

/* Navbar */
.navbar__list{
    display: flex;
}

.header-action__login,
.navbar__link{
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__link:hover,
.navbar__link-active{
    text-shadow: 1px 0 0 currentColor;
    color: #FFF;
}

.navbar__link-active::before{
    position: relative;
    left: -8px;
    top: -2px;
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
}

.header-action{
    display: flex;
    align-items: center;
}

.header-action__login{
    margin-right: 7px;
}

.header-action__signup{
    --height: 44px;
    min-width: 104px;
    font-size: 1.6rem;
}